header{
    width: 100%;
    height:50px;
    background-color: slateblue;
    color: salmon;

}
div{
    background-color:#fc0349 ;
    width: 50%;
}
#mi{
    background-color: teal;
    border-top: 10px solid crimson;
    border-bottom:4px sienna solid
}
#pi{text-align: center;
    text-decoration: underline;
    color: rgb(231, 223, 222);

}
li{
    color: thistle;
}
.cls{
    color: yellow;
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}